@model IEnumerable<Falcon_Bug_Tracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<table class="table table-striped col-md-12">
    <h4>Projects</h4>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayName("")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManagerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>*@
                <td>
                    @Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }, new { @class = "btn-primary"}) |
                    @Html.ActionLink("Create Ticket", "Create", "Tickets", new { id = item.Id }, new { @class = "btn-primary" }) |

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-danger" })

                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("Create", "Projects")" class="btn btn-primary">Create New</a>
</p>
